<header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

        {{#if (ifvalue type "talent")}}
        <div class="grid grid-3col item-attr-row">
            <div class="flex column">
                <label class="resource-label" for="system.creatureType">{{localize "SH.TALENT_TYPE"}}</label>
                <select name="system.creatureType">
                    {{selectOptions SH.TALENT_CREATURE_TYPES selected=system.creatureType localize=true}}
                </select>
            </div>
            <div></div>
            <div></div>
        </div>
        {{/if}}

        {{#if (ifvalue type "critical")}}
        <div class="grid grid-3col item-attr-row">
            <div class="resource">
                <label for="system.lethal" class="resource-label">{{localize 'SH.LETHAL'}}</label>
                <input type="text" name="system.lethal" value="{{system.lethal}}" />
            </div>
            <div class="resource">
                <label for="system.timeLimit" class="resource-label">{{localize 'SH.TIMELIMIT'}}</label>
                <input type="text" name="system.timeLimit" value="{{system.timeLimit}}" />
            </div>
            <div class="resource">
                <label for="system.healingTime" class="resource-label">{{localize 'SH.HEALINGTIME'}}</label>
                <input type="text" name="system.healingTime" value="{{system.healingTime}}" />
            </div>
        </div>
        {{/if}}

    </div>
</header>