<div class="sh chat-item">
    <div class="border">
        <h3>{{name}}</h3>

        {{#if isWeapon}}
        <h4>{{weaponCategory category}}</h4>
        {{/if}}

        {{#if isArmor}}
        <h4>{{armorPart armorType}}</h4>
        {{/if}}

        {{#if isCritical}}
        <h4>{{localize "SH.CRITICAL"}}</h4>
        {{/if}}

        {{#if isGear}}
        <h4>{{localize "SH.GEAR"}}</h4>
        {{/if}}

        {{#if isTalent}}
        <h4>{{localize (toUpperCase (concat 'SH.TALENT_' creatureType))}}</h4>
        {{/if}}

        {{#if img}}
        <img class="item-img" src="{{img}}" title="{{name}}" />
        {{/if}}

        {{#if isWeapon}}
        <p><strong>{{localize "SH.DAMAGE"}}:</strong> {{damage}}</p>
        <p><strong>{{localize "SH.BONUS"}}:</strong> {{bonus.value}} / {{bonus.max}}</p>
        <p><strong>{{localize "SH.RANGE"}}:</strong> {{localize (toUpperCase (concat 'SH.' range))}}</p>
        <p><strong>{{localize "SH.COMMENT"}}:</strong> {{comment}}</p>
        <hr />
        <h4>{{localize 'SH.DESCRIPTION'}}:</h4>
        {{{description}}}
        <hr />
        {{/if}}

        {{#if isArmor}}
        <p><strong>{{localize "SH.ARMOR_RATING"}}:</strong> {{rating.value}} / {{rating.max}}</p>
        <p><strong>{{localize "SH.EQUIPPED"}}:</strong> {{equipped}}</p>
        <p><strong>{{localize "SH.COMMENT"}}:</strong> {{comment}}</p>
        <hr />
        <h4>{{localize 'SH.DESCRIPTION'}}:</h4>
        {{{description}}}
        <hr />
        {{/if}}

        {{#if isCritical}}
        <p><strong>{{localize "SH.LETHAL"}}:</strong> {{lethal}}</p>
        <p><strong>{{localize "SH.TIMELIMIT"}}:</strong> {{timeLimit}}</p>
        <p><strong>{{localize "SH.HEALINGTIME"}}:</strong> {{healingTime}}</p>
        {{#if effect}}
        <p><strong>{{localize "SH.EFFECT"}}:</strong> {{effect}}</p>
        {{/if}}
        {{/if}}

        {{#if isGear}}
        <p><strong>{{localize "SH.COMMENT"}}:</strong> {{comment}}</p>
        <hr />
        <h4>{{localize 'SH.DESCRIPTION'}}:</h4>
        {{{description}}}
        <hr />
        {{/if}}

        {{#if isSkill}}
        <p><strong>{{localize "SH.ATTRIBUTE"}}:</strong> {{localize (toUpperCase (concat 'SH.ATTRIBUTE_' attribute '_'
            creatureType))}}</p>
        <p><strong>{{localize "SH.VALUE"}}:</strong> {{value}}</p>
        {{{description}}}
        {{/if}}

        {{#if isTalent}}
        <p><strong>{{localize "SH.TALENT_TYPE"}}:</strong> {{localize (toUpperCase (concat 'SH.' roleType))}}</p>
        {{{description}}}
        {{/if}}

        {{#if weight}}
        <p><strong>{{localize "SH.WEIGHT"}}:</strong> {{weight}}</p>
        {{/if}}

        {{#if cost}}
        <p><strong>{{localize "SH.COST"}}:</strong> {{cost}}</p>
        {{/if}}
    </div>
</div>