<form class="{{cssClass}}" autocomplete="off">
    {{>"systems/sleepy-hollow/templates/item/partials/header-physical.html"}}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "SH.DETAILS"}}</a>
    </nav>
    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="details">
            <div>
                <div class="grid grid-4col">
                    <div class="item-attr-row">
                        <label for="system.damage" class="resource-label">{{localize 'SH.DAMAGE'}}</label>
                        <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
                    </div>
                    <div class="flex column item-attr-row">
                        <label for="system.range" class="resource-label">{{localize 'SH.RANGE'}}</label>
                        <select name="system.range">
                            {{selectOptions SH.RANGES selected=system.range localize=true}}
                        </select>
                    </div>
                    <div class="flex column item-attr-row">
                        <label r="system.category" class="resource-label">{{localize "SH.CATEGORY"}}</label>
                        <select name="system.category">
                            {{selectOptions SH.WEAPON_CATEGORIES selected=system.category localize=true}}
                        </select>
                    </div>
                    <div class="item-attr-row">
                        <label for="system.bonus.value" class="resource-label">{{localize 'SH.BONUS'}}</label>
                        <div class="flex">
                            <input type="text" name="system.bonus.value" value="{{system.bonus.value}}" />
                            <span>/</span>
                            <input type="text" name="system.bonus.max" value="{{system.bonus.max}}" />
                        </div>
                    </div>
                </div>
                <div class="item-attr-row">
                    <label for="system.comment" class="resource-label">{{localize 'SH.COMMENT'}}</label>
                    <input type="text" name="system.comment" value="{{system.comment}}" />
                </div>
            </div>
            <h2>Description</h2>
            <div class="info">
                <div class="description">{{editor descriptionHTML target="system.description" button=true owner=owner
                    editable=true engine='prosemirror'}}</div>
            </div>
        </div>

    </div>
</form>