<form class="{{cssClass}}" autocomplete="off">
    {{>"systems/sleepy-hollow/templates/item/partials/header-physical.html"}}
    <!-- {{>"systems/sleepy-hollow/templates/item/partials/tabs.html"}}     -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "SH.DETAILS"}}</a>
        <a class="item" data-tab="modifiers">{{localize "SH.MODIFIERS"}}</a>
    </nav>
    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="details">
            <div class="grid grid-4col align-end">
                <div class="resource flex column item-attr-row">
                    <label for="system.armorType" class="resource-label">{{localize 'SH.ARMOR_TYPE'}}</label>
                    <select name="system.armorType">
                        {{selectOptions SH.ARMOR_TYPES selected=system.armorType localize=true}}
                    </select>
                </div>
                <div class="resource flex column item-attr-row">
                    <label for="system.rating" class="resource-label">{{localize 'SH.ARMOR_RATING'}}</label>
                    <div class="flex">
                        <input type="number" min="0" class="short-input" name="system.rating.value"
                            value="{{system.rating.value}}" />
                        <span>/</span>
                        <input type="number" min="0" class="short-input" name="system.rating.max"
                            value="{{system.rating.max}}" />
                    </div>
                </div>
                <div></div>
                <div class="resource flex column align-end item-attr-row">
                    <label for="system.equipped" class="checkbox-label">
                        {{localize 'SH.EQUIPPED'}}
                        <input class="input-checkbox" type="checkbox" name="system.equipped" {{checked system.equipped}}
                            data-dtype="Boolean" />
                    </label>
                </div>
            </div>
            <div class="item-attr-row">
                <label for="system.comment" class="resource-label">{{localize 'SH.COMMENT'}}</label>
                <input type="text" name="system.comment" value="{{system.comment}}" />
            </div>
            <h2>Description</h2>
            <div class="info">
                <div class="description">
                    {{editor descriptionHTML target="system.description" button=true owner=owner editable=true
                    engine='prosemirror'}}
                </div>
            </div>
        </div>

        {{>"systems/sleepy-hollow/templates/item/partials/modifiers.html"}}

    </div>
</form>